<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Character Set</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style>
        .tooltipper {
            width: 120px;
            background-color: rgb(75, 75, 75);
            color: #fff;
            text-align: center;
            padding: 5px 0;
            border-radius: 6px;
            position: absolute;
            z-index: 1;
        }
    </style>
</head>
<body style="background-color: black; color: white;">
    <div id="app">
        <div style="display: flex; flex-direction:row; justify-content: center; align-items: center;">
            <div v-for="role of roles" style="padding: 5rem; position: relative;" @click="selected=role.name" @mouseover="hover_value=role.name" @mouseleave="hover_value=''">
                <h2>{{role.name}}</h2>
                <div v-show="hover_value===role.name" class="tooltipper">
                    <div>{{role.hint1}}</div>
                    <div>{{role.hint2}}</div>
                </div>
            </div>
        </div>
        <div v-show="selected===role.name" v-for="role of roles" style="display: flex; flex-direction:row; justify-content: center; align-items: center;">
            <img :src="role.imgSrc" :alt="role.name" style="padding: 4rem; width: 450px; height: 700px;">
            <h1>{{role.name}}</h1>
        </div>
    </div>
</body>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!',
            selected: 'Customer',
            hover_value: '',
            roles: [
                {
                    name: 'Customer',
                    hint1: 'Female',
                    hint2: 'High Pitched',
                    imgSrc: './resources/customer.png'
                },
                {
                    name: 'Tech Lead',
                    hint1: 'Gruff',
                    hint2: 'No Nonsense',
                    imgSrc: './resources/techLead.png'
                },
                {
                    name: 'Mentor',
                    hint1: 'Fatherly',
                    hint2: 'Loving',
                    imgSrc: './resources/mentor.png'
                },
                {
                    name: 'Narrator',
                    hint1: 'Neutral',
                    hint2: 'Uninvolved',
                    imgSrc: './resources/narrator.png'
                },
                {
                    name: 'Teacher',
                    hint1: 'Crazy',
                    hint2: 'The Full Wagstaff',
                    imgSrc: './resources/teacher.png'
                },
            ]
        }
    })
</script>
</html>